/**
 *  Pianeta Hair Design Website
 *  CSS
 *
 *  @author: David Ceccato
 *  @version: 20161027
 */

/********* COLOURS *********
 * Pianeta Purple:   #AC88BE
 * Highlight Purple: #612C7C
 ***************************/

/* *** HTML Style Adjustments *** */
html, body {
    overflow-x: hidden;
    font-family: 'Droid Serif', serif;
}
body {
    position: relative;
    height: 100%;
    width: 100%;
    color: #555;
    background-color: #fcfcfc;
}
body#HOME {
    padding-right: 0 !important;
}
table tbody tr td {
    vertical-align: top;
    padding: 0.5rem;
}
table td {
    white-space: nowrap;
}
a {
    outline: 0;
    cursor: pointer;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #612C7C;
}
small {
   color: #888;
   font-size: 75%;
}
.section {
    overflow-x: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}
h1 {
    /* background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%); */
    background-color: #AC88BE;
    background-image: linear-gradient(to bottom,#AC88BE 0,#612C7C 100%);
    border: 1px solid #999;
    padding: 10px 15px;
    border-radius: 6px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}
h2 {
    font-weight: bold;
}
label {
    white-space: nowrap;
}
input {
    font-kerning: normal;
}

/* *** BOOTSTRAP Style Adjustments *** */
.form-control {
    height: auto;
}
.form-control:focus {
    border-color: #AC88BE;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(172,136,190,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(172,136,190,.6);
}
/*
.navbar-header {
    background-color: #612C7C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eee;
}
div#bd-main-nav {
    background-color: #AC88BE;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-shadow: none;
}
*/
.navbar-default {
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top,#fff 0,#e5e5e5 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e5e5e5));
    background-image: linear-gradient(to bottom,#fff 0,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 4px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
}
.nav>li>a {
    padding-left: 13px;
    padding-right: 13px;
}
button.navbar-toggle.booking-button {
    padding: 6px;
}
a.navbar-brand>img {
    margin-top: -6px;
    margin-right: 15px;
}
.img-circle {
    border: 1px inset rgba(255,255,255,0.5);
}
.panel-group {
    /*
    background-color: #F5F5F5;
    border-radius: 4px;
    */
}
.panel-heading a {
    display: block;
    white-space: nowrap;
}
/*
.panel, .container {
    overflow-x: hidden;
}
*/
.panel {
    overflow-x: hidden;
}
table.center-block {
    display: table;
}
.jumbotron {
    margin-top: 0; 
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-left: 0;
    padding-right: 0;
    overflow-x: auto;
}
div.jumbotron.content {
    text-align: center;
    min-height: 30em;
    /*
    color: #000;
    text-shadow: 1px 1px 2px #fff;
    */
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}
.jumbotron p {
    font-weight: bold;
}
.jumbotron p .emphasis, .jumbotron p strong {
    font-size: 1.1em;
    text-shadow: 2px 2px 3px #000;
}
div.jumbotron.content .content-inner {
    background-color: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f000000', endColorstr='#7f000000'); /* IE */
    border-radius: 6px;
    padding: 1em;
}
.container img.jumbotron {
    width: 100%;
    padding: 0;
    margin-top: 40px;
    /* margin-bottom: 40px; */
}
.btn, .btn:hover, .btn:visited, .btn:link, .btn:focus, .btn:active, .btn:active:focus, .btn:active:hover {
    outline: none;
    background-color: #DDD;
}
.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:link, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover,
a.btn-primary, a.btn-primary:hover, a.btn-primary:visited, a.btn-primary:link, a.btn-primary:focus, a.btn-primary:active, a.btn-primary:active:focus, a.btn-primary:active:hover,
button.navbar-toggle.btn.btn-primary.booking-button {
    color: #fff;
    background-image: linear-gradient(to bottom,#AC88BE 0,#612C7C 100%);
    background-color: #612C7C;
    border-color: #555;
}
.btn-primary[disabled] {
    background-color: #777;
}
.btn-primary[disabled]:hover {
    background-color: #333;
}
#services-pricing td:last-of-type {
    width: 25%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top,#fff 0,#e5e5e5 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e5e5e5));
    background-image: linear-gradient(to bottom,#fff 0,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 -1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 -1px 5px rgba(0,0,0,.075);
    padding: 5px;
    z-index: 98;
}

.footer .block {
    display: inline-block;
    width: 50%;
    /* overflow: hidden; */
    vertical-align: middle;
}
.footer .container {
    white-space: nowrap;
    overflow: hidden;
}
.footer .block.left {
    text-align: left;
}
.footer .block.right {
    text-align: right;
}
.footer p {
    margin: 0;
}
.misc-content, .misc-content p, .misc-content td {
    font-size: 10px;
    color: #777;
}
div.modal-body .content {
    max-height: 50vh;
    overflow-y: auto;
}


/* *** Email Obsfocation *** */
/*
.domain:before {
        content: '@';
}
.domain:after {
        content: '.com.au';
}
*/

/* *** Carousel Slide Show *** */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.carousel-inner .item {
    /* max-height: 600px; */
}

/* *** Main Logo *** */
img.logo {
    max-width: 75%;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
}
#logo-micro {
    display: none;
}


/* *** Contact Us Tables *** */
span.glyphicon {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* *** Map *** */
#map_canvas img {
    width: 100%;
}
#map-outer {
    height: 350px;
    width: 100%;
}
#map_canvas {
    height: 100%;
    width: 100%;
}
.gm-style img {
    max-width: none; /* Required to make Google Street View Function */
}
#changeMap {
    background-color: #777;
    display: block;
    padding: 0.1em 0.5em;
    position: absolute;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 1%;
    z-index: 99;
    color: #fff;
    border-radius: 3px;
}
.form-alert {
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}
.alert-text-extra {
    text-align: center;
    display: block;
}
.specialLink {
    cursor: pointer;    
}
#specialAlert {
    position: fixed;
    /* left: 10px; */
    right: 10px;
    width: calc(100% - 20px);
    bottom: -5em;
    /* text-align: center; */
    opacity: 0;
    z-index: 98;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
#specialButton {
    display: none;
    position: fixed;
    top: 60px;
    right: 15px;
    opacity: 0;
    padding: 0.5em 0.25em;
    z-index: 98;
}
.special-currency {
    font-size: 1em;
}
.special-price {
    background-color: yellow;
    padding: 1em 0.5em 0.75em 0.5em;
    line-height: 4em;
    border-radius: 8px;
}
.special-dollars {
    font-weight: bold;
    color: #FF0000;
    font-size: 1.5em;
    text-shadow: 1px 1px 0px #555;
}
.special-cents {
    font-size: 0.75em;
    color: #FF0000;
}
.special-contitions-apply {
    font-style: italic;
    cursor: pointer;
}
.special-terms-and-conditions {
    display: none;
    padding: 1em 0;
}
.special-includes {
    padding-top: 1em;
}
.special-image {
    padding-bottom: 1em;
}
.special-saving {
    font-size: 1.15em;
}
.special-saving-value {
    color: #000;
    font-weight: bold;
}
.special-pricing {
    padding-bottom: 1em;
}
.special-saving-disclaimer {
    font-size: 0.75em;
    vertical-align: top;
    margin: 0.25em;
    color: #AAA;
}
.special-panel {
    border-color: #612C7C;
    border-width: 2px;
}
.special-heading {
    color: #612C7C;
    font-weight: bold;
    cursor: pointer;
}


/* *** Tabs *** */
.nav-tabs>li:not(.active)>a {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.tab-content {
    background-color: #fff;
    border-left: solid 1px #DDD;
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #DDD;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 2rem;
}

/* *** Booking *** */
#BOOKING {
    display: none;
    /* position: fixed; */
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 50;
    background-color: #fcfcfc;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    opacity: 0;
}
#BOOKING .jumbotron {
    padding-top: 15px;
    padding-bottom: 0;
}
#BOOKING button.close {
    position: relative;
    height: 0;
    width: 0;
    top: -25px;
    right: 5px;
}
#formBooking {
    padding-top: 15px;
}
#chosenServices {
    /*
    float: right;
    margin-bottom: 15px;
    */
    /*
    text-align: left;
    */
}
#chosenServices label {
    text-align: left;
    margin-bottom: 5px;
}
#bookingServicePills .service {
    display: inline-block;
    white-space: nowrap;
}
div.service {
    margin: 10px;
}
div.service button.btn {
    width: 18.5em;
    /* text-align: right; */
}
.booking-button-desktop {
    display: block;
    position: fixed;
    right: 15px;
    top: 8px;
}
.button-text {
    vertical-align: text-top;
    padding-left: 1em;
    font-weight: bold;
}
.specialService>button {
    border: 2px outset #AC88BE;
    font-weight: bold;
}
input#bookingDate, input#bookingTime {
    background-color: #fff;
}
input#bookingTime2, input#bookingTime3 {
    background-color: #fdfdfd;
}
input#bookingTime:disabled, input#bookingTime2:disabled, input#bookingTime3:disabled {
    background-color: #ddd;
}
#selectedServices-modal-button .badge {
    top: 3px;
    margin-right: 5px;
}
#selectedServices-modal-button.btn-default .badge, #selectedServices-modal-button.btn-primary .preface {
    display: none;
}
div#selectServices {
    height: auto;
    overflow-y: auto;
    max-height: 15em;
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
    padding-left: 0.5em;
}
div.service .badge {
    margin-left: -70px;
    position: relative;
    cursor: pointer;
}
#booking-services-glyph {
    border-bottom-left-radius: 0
}
#booking-services-title {
    background-color: #eee;
    border-bottom-right-radius: 0;
    overflow: hidden;
    white-space: nowrap;
}

span.badge.added {
    background-color: #AC88BE;
    color: #fff;
}
span.badge.zero {
    background-color: #bbb;
    color: #eee;
}
span.pill-text {
    padding-top: 2px;
    display: inline-block;
    padding-right: 5px;
}
span.pill-modify {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 4px 5px 0;
}
span.pill-count {
    padding: 0 8px 0 4px;
}
div#modal-selected-services, div#bookingHelp {
    height: 7em;
    overflow-y: auto;
    border-radius: 6px;
    border: 1px inset #ddd;
    padding: 0.5em;
    background-color: #F9F9F9;
}
div#modal-selected-services ul li {
    list-style: none;
}

/*
#servicesModal .modal-dialog {
    overflow-y: initial !important;
}
#servicesModal .modal-body {
    height: 15em;
    overflow-y: auto;
}
.modal-pill-single {
    display: block;
}
*/

/*****************************************
 ************ CSS3 Animations ************
 *****************************************/
.animate.slideIn {
    margin-left: 100%;
    -webkit-transition: margin-left 1s; /* 0.5s */
    transition: margin-left 1s; /* 0.5s */
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.animate.fadeIn {
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.animate.slideIn.fadeIn {
    -webkit-transition: margin-left 1s, opacity 1.5s; /* 0.5s, 1s */
    transition: margin-left 1s, opacity 1.5s; /* 0.5s, 1s */
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.animate.slideIn.inView {
    margin-left: 0;
}
.animate.fadeIn.inView {
    opacity: 1;
}
.ghost {
    color: #AAA;
    position: absolute;
    padding-top: 3px;
    opacity: 1;
    -webkit-transition: opacity 1s; /* 0.5s */
    transition: opacity 1s; /* 0.5s */
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0.5s; /* 0.25s */
    transition-delay: 0.5s; /* 0.25s */
}
.ghost.inView {
    opacity: 0;
}

/********************************************
 * *** ANGULAR MATERIAL PWA ADJUSTMENTS *** *
 ********************************************/

.mat-icon.material-icons {
    /* Hide material icons included for Angular App */
    display: none;
}
.angularSvg {
    /* Hide Angular directive for facebook svg */
    display: none;
}

/*****************************************
 * *** CUSTOM RESPONSIVE ADJUSTMENTS *** *
 *****************************************/

@media only screen and (min-width : 768px) {
    /* Increase size of subscribe container when displayed in columns */
    .informationContent {
        height: 500px;
    }
    .navbar-nav {
        margin-top: 5px;
    }
    /*
    .navbar-nav>li>a {
        padding-bottom: 5px;
    }
    */
}

@media only screen and (max-width : 300px) {
    /* Show Micro Logo in the top fixed header on really small screens */
    #logo-small {
        display: none;
    }
    #logo-micro {
        display: block;
        position: fixed;
    }
}
